<!DOCTYPE html>
<html lang="sv">
    {{>head}}
    <body>
        <div class="wrapper startpage">
            {{>header}}
            {{>body}}
            {{>footer}}
        </div>
            {{>scripts}}
    </body>
</html>
