---
section: one
---
    <div class="body">


    {{>slider}}


  <div class="container">
      <div class="row">
        <div class="span12">
          <!--TYPO3SEARCH_begin-->
          <a id="c109"></a>

    <div class="row mobile-center">

            <div class="span4">
                <a id="c59"></a>

    <h3>

        <span class="heading-icon"><i class="icon-medkit"></i></span>

        Our Services w/Aloha
    </h3>
    <p>

            Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimaore ullamcorper uisque eget.trable jsou tady!a co?

    </p>

            <a class="btn " title="Read more" href="/funktioner/typiskt-sidinnehall/text-med-bild/">
                Read more
            </a>


            </div>

            <div class="span4">
                <a id="c58"></a>

    <h3>

        <span class="heading-icon"><i class="icon-suitcase"></i></span>

        Malmö klätterklubb
    </h3>
    <p>

            We offer our customers the possibility to choose where to start with out the limitation on ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor.

    </p>

            <a class="btn " title="Read more" href="/funktioner/typiskt-sidinnehall/text-med-bild/">
                Read more
            </a>


            </div>

            <div class="span4">
                <a id="c60"></a>

    <h3>

        <span class="heading-icon"><i class="icon-cogs"></i></span>

        Ourjrigfdsfuj Services
    </h3>
    <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.

    </p>

            <a class="btn " title="Read more" href="/funktioner/typiskt-sidinnehall/tabell/">
                Read more
            </a>


            </div>

    </div>
<a id="c61"></a><div class="divider"><hr></div><a id="c110"></a>

    <div class="row center-mobile">

            <div class="span4">
                <a id="c62"></a>


    <img alt="Our Services" src="/fileadmin/_processed_/csm_DSC_7731_3ceed83419.jpg" width="370" height="208" title="Our Services" />

    <h3>
        Our Services
    </h3>
    <p>
        Nulla facilisi uis aliquet egestas purus in curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.
    </p>

            <a class="link" title="Read more" href="/funktioner/typiskt-sidinnehall/text-med-bild/">
                Read more
            </a>


            </div>

            <div class="span4">
                <a id="c63"></a>


    <img alt="Our Services" src="/fileadmin/_processed_/csm_DSC_7735_47e460c0d4.jpg" width="370" height="208" title="Our Services" />

    <h3>
        Our Services
    </h3>
    <p>
        Nulla facilisi uis aliquet egestas purus in curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.
    </p>

            <a class="link" title="Read more" href="/nyheter/">
                Read more
            </a>


            </div>

            <div class="span4">
                <a id="c64"></a>


    <img alt="Our Services" src="/fileadmin/_processed_/csm_DSC_7741_00a4427fdd.jpg" width="370" height="208" title="Our Services" />

    <h3>
        Our Services
    </h3>
    <p>
        Nulla facilisi uis aliquet egestas purus in curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.
    </p>

            <a class="link" title="Read more" href="/funktioner/typiskt-sidinnehall/punktlista/">
                Read more
            </a>


            </div>

    </div>
<a id="c65"></a><div class="divider"><hr></div><a id="c180"></a><header><div class="page-header"><h2>News &amp; Events</h2></div></header><a id="c66"></a>














    <div class="tabbable tabs-above">



        <ul class="nav nav-tabs  default">

                <li class="nav-link active">
                    <a href="http://dmytro.pixelant.nu/#tab-66-0" data-toggle="tab">News</a>
                </li>

                <li class="nav-link ">
                    <a href="http://dmytro.pixelant.nu/#tab-66-1" data-toggle="tab">Tab name</a>
                </li>

                <li class="nav-link ">
                    <a href="http://dmytro.pixelant.nu/#tab-66-2" data-toggle="tab">Tab name</a>
                </li>

        </ul>




        <div class="tab-content">


                    <div class="tab-pane fade active in" id="tab-66-0">
                        <a id="c38"></a>





<div class="news">






<div class="newsdesk">
    <div class="slider slider-vertical">
        <div class="slides">
            <div class="slide">









<div class="media">




                                <a class="pull-left" href="/nyhet/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                                    <img title="Title Text" alt="Alt Text" src="/typo3temp/_processed_/csm_On_the_wall_-_Janus_Langhorn-1_521e342ddb.jpg" width="220" height="134" />
                                </a>









    <div class="media-body">
        <h4 class="media-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h4>
        <time class="meta-bar meta-date hidden-phone" datetime="2013-02-06T11:50" title="11:50">
            <span>06</span>
            <strong>feb</strong>
        </time>

                <p>Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

        <a class="pull-left" href="/nyhet/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">Läs mer</a>
    </div>
</div>








<div class="media">




                                <a class="pull-left" href="/nyhet/the-fourth-news-article/">
                                    <img src="/typo3temp/_processed_/csm_DSC_7741_4f9f4a8f5f.jpg" width="220" height="134" alt="" />
                                </a>









    <div class="media-body">
        <h4 class="media-heading">
            The fourth news article
        </h4>
        <time class="meta-bar meta-date hidden-phone" datetime="2013-02-05T18:23" title="18:23">
            <span>05</span>
            <strong>feb</strong>
        </time>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <a class="pull-left" href="/nyhet/the-fourth-news-article/">Läs mer</a>
    </div>
</div>




                        </div>
                        <div class="slide">







<div class="media">





                                <a class="pull-left" href="/nyhet/the-second-news-article/">
                                    <iframe width="220" height="134" src="http://www.youtube.com/embed/rI3htmDxyLQ?fs=1" frameborder="0"></iframe>
                                </a>








    <div class="media-body">
        <h4 class="media-heading">
            The second news article
        </h4>
        <time class="meta-bar meta-date hidden-phone" datetime="2013-01-29T11:50" title="11:50">
            <span>29</span>
            <strong>jan</strong>
        </time>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It...</p>

        <a class="pull-left" href="/nyhet/the-second-news-article/">Läs mer</a>
    </div>
</div>








<div class="media">





                                <a class="pull-left" href="/nyhet/the-first-news/">
                                    <iframe width="220" height="134" src="http://www.youtube.com/embed/EPEumQFdE2Y?fs=1" frameborder="0"></iframe>
                                </a>








    <div class="media-body">
        <h4 class="media-heading">
            The first news
        </h4>
        <time class="meta-bar meta-date hidden-phone" datetime="2013-01-29T11:38" title="11:38">
            <span>29</span>
            <strong>jan</strong>
        </time>

                <p>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimaore eu ullamcorper orci uisque eget. Vestibulum ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui...</p>

        <a class="pull-left" href="/nyhet/the-first-news/">Läs mer</a>
    </div>
</div>


            </div>
        </div>
    </div>
    <div class="tool-bar">
        <a class="link" href="/nyheter/">Visa alla nyheter</a>
        <div class="navigation slider-navigation pull-right"><span class="slide-up">Föregående</span><span class="slide-down">Nästa</span></div>
    </div>
</div>





</div>

                    </div>

                    <div class="tab-pane fade " id="tab-66-1">
                        <div id="c1" class="csc-default"><h1 class="csc-firstHeader">Header 1</h1><p>Just to check that content is rendered ok from Default Layout.</p></div>
                    </div>

                    <div class="tab-pane fade " id="tab-66-2">
                        <div id="c39" class="csc-frame csc-frame-indent3366"><h2 class="csc-firstHeader">Test layout</h2><p>Test layout</p></div>
                    </div>


        </div>


    </div>
<hr /><a id="c111"></a>

    <div class="row ">

            <div class="span6">
                <a id="c95"></a>


        <blockquote class="quote">

        <p>It's really the TYPO3 spirit, and not so much the code, that makes the TYPO3 community tick . </p>

                <small>Kasper Skårhøj

                        ,&nbsp;<cite title="TYPO3 Founder">TYPO3 Founder


                                        <a href="http://www.typo3.org" title="TYPO3.org" target="_blank">&nbsp;TYPO3.org</a>


                        </cite>

                </small>

        <span class="qouteMark">”</span>
    </blockquote>

            </div>

            <div class="span6">
                <a id="c96"></a>


        <blockquote class="quote">

        <p>Fantasi är viktigare än kunskap. För kunskapen är begränsad, medan fantasin omgärdar hela världen, stimulerar framsteg, och föder utveckling.</p>

                <small>Albert Einstein

                </small>

        <span class="qouteMark">”</span>
    </blockquote>

            </div>

    </div>
<a id="c199"></a><div class="divider"><hr></div><a id="c200"></a>











    <div id="partners" class="fce-37">


                <div class="fce-37-header">
                    <h2>Partners</h2>
                </div>



                <div class="fce-37-navigation">
                    <span class="slide-left"><i class="icon-caret-left"></i></span>
                    <span class="slide-right"><i class="icon-caret-right"></i></span>
                </div>


        <div class="fce-37-scrollable">
            <div class="fce-37-items" style="padding-right:4px">




                                <div class="fce-37-item span12">



                                        <a style="width:24%" title="Fireball" href="/">
                                            <img alt="Fireball" src="/fileadmin/user_upload/logo/logo-fireball.png" width="190" height="80" title="Fireball" />
                                        </a>












                                        <a style="width:24%" title="Moonlight" href="/">
                                            <img alt="Moonlight" src="/fileadmin/user_upload/logo/logo-moonlight.png" width="190" height="80" title="Moonlight" />
                                        </a>












                                        <a style="width:24%" title="Pixelant Foundation" href="/">
                                            <img alt="Pixelant Foundation" src="/fileadmin/_processed_/csm_logo-pixelant-foundation_75b287068d.png" width="362" height="80" title="Pixelant Foundation" />
                                        </a>












                                        <a style="width:24%" title="Royal Trader" href="/">
                                            <img alt="Royal Trader" src="/fileadmin/user_upload/logo/logo-royal-trader.png" width="190" height="80" title="Royal Trader" />
                                        </a>




                                        </div><div class="fce-37-item span12">









                                        <a style="width:24%" title="Save the nature" href="/">
                                            <img alt="Save the nature" src="/fileadmin/user_upload/logo/logo-save-the-nature.png" width="190" height="80" title="Save the nature" />
                                        </a>



                                </div>



            </div>
        </div>
    </div>







          <!--TYPO3SEARCH_end-->
        </div>
      </div>
    </div>

    </div>