---
section: one
---

<div class="body">

  <!--TYPO3SEARCH_begin-->
  <header class="sub-header">
            <div class="container">
                <h1>Kontakt</h1>
            </div>
        </header>
  <!--TYPO3SEARCH_end-->
  <div class="container-fluid toolbox">
            <div class="container">
                <ul class="breadcrumb"><li><i class="icon-home"></i><a href="/">Hem</a><span class="divider">/</span></li><li>Kontakt</li></ul>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="span9 pull-right">
          <!--TYPO3SEARCH_begin-->
                <a id="c106"></a><header><h2 class="csc-firstHeader">Kontakta oss</h2></header>
<form action="/kontakt/" enctype="multipart/form-data" method="post">
  <ol class="forms">
    <li class="csc-form-2 csc-form-element csc-form-element-fieldset">
      <fieldset>
        <legend>Test</legend>
        <ol class="forms">
          <li class="csc-form-3 csc-form-element csc-form-element-textline">
            <label for="field-3">Namn</label>
            <input id="field-3" name="tx_form[Namn]" type="text">
          </li>
          <li class="csc-form-4 csc-form-element csc-form-element-textline">
            <label for="field-4">E-post<em>*</em></label>
            <input id="field-4" name="tx_form[E-post]" type="text">
          </li>
          <li class="csc-form-5 csc-form-element csc-form-element-textline">
            <label for="field-5">Telefonnummer<em>*</em></label>
            <input id="field-5" name="tx_form[Telefon]" type="text">
          </li>
          <li class="csc-form-6 csc-form-element csc-form-element-checkboxgroup">
            <fieldset class="fieldset-subgroup">
              <legend>Kontakta mig angående</legend>
              <ol class="forms">
                <li class="csc-form-7 csc-form-element csc-form-element-checkbox">
                  <label for="field-7">Ny TYPO3 installation</label>
                  <input id="field-7" name="tx_form[Angende][]" type="checkbox" value="7">
                </li>
                <li class="csc-form-8 csc-form-element csc-form-element-checkbox">
                  <label for="field-8">Utbildning i TYPO3</label>
                  <input id="field-8" name="tx_form[Angende][]" type="checkbox" value="8">
                </li>
                <li class="csc-form-9 csc-form-element csc-form-element-checkbox">
                  <label for="field-9">Ny modul till TYPO3</label>
                  <input id="field-9" name="tx_form[Angende][]" type="checkbox" value="9">
                </li>
              </ol>
            </fieldset>
          </li>
          <li class="csc-form-10 csc-form-element csc-form-element-radiogroup">
            <fieldset class="fieldset-subgroup">
              <legend>Kontakta mig via:</legend>
              <ol class="forms">
                <li class="csc-form-11 csc-form-element csc-form-element-radio">
                  <label for="field-11">Telefon</label>
                  <input id="field-11" name="tx_form[Kontant-via]" type="radio" value="11">
                </li>
                <li class="csc-form-12 csc-form-element csc-form-element-radio">
                  <label for="field-12">E-post</label>
                  <input id="field-12" name="tx_form[Kontant-via]" type="radio" value="12">
                </li>
              </ol>
            </fieldset>
          </li>
          <li class="csc-form-13 csc-form-element csc-form-element-select">
            <label for="field-13">Jag är:</label>
            <select id="field-13" name="tx_form[Kund]">
              <option value="14">Befintlig kund</option>
              <option value="15">Ej kund</option>
              <option value="16">Tidigare kund</option>
            </select>
          </li>
          <li class="csc-form-17 csc-form-element csc-form-element-textarea">
            <label for="field-17">Meddelande</label>
            <textarea cols="40" id="field-17" name="tx_form[Meddelande]" rows="5"></textarea>
          </li>
          <li class="csc-form-18 csc-form-element csc-form-element-submit">
            <div class="form-actions">
              <input class="btn btn-primary pull-right" id="field-18" name="tx_form[18]" type="submit" value="Skicka">
            </div>
          </li>
        </ol>
      </fieldset>
    </li>
  </ol>
</form>

          <!--TYPO3SEARCH_end-->
            </div>
            <div class="span3 pull-left">
          <aside class="sidebar"><nav role="navigation"></nav></aside>
            </div>
        </div>
        <div class="row">
            <div class="span12">
        <!--TYPO3SEARCH_begin-->

        <!--TYPO3SEARCH_end-->
            </div>
        </div>
    </div>

    </div>