---
section: one
---

<div class="body">

  <!--TYPO3SEARCH_begin-->
  <header class="sub-header">
            <div class="container">
                <h1>Nyheter</h1>
            </div>
        </header>
  <!--TYPO3SEARCH_end-->
  <div class="container-fluid toolbox">
            <div class="container">
                <ul class="breadcrumb"><li><i class="icon-home"></i><a href="/">Hem</a><span class="divider">/</span></li><li>Nyheter</li></ul>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="span9 pull-right">
          <!--TYPO3SEARCH_begin-->
                <article id="c14" class="article">





<div class="news">





<div class="list">








<section class="entry news-entry">
    <figure>




                                <a href="/nyhet/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                                    <img title="Title Text" alt="Alt Text" src="/typo3temp/_processed_/csm_On_the_wall_-_Janus_Langhorn-1_19ab72ba5f.jpg" width="870" height="420">
                                </a>







    </figure>
    <div class="meta hidden-phone">
        <time class="meta-bar meta-date" datetime="2013-02-06T11:50" title="11:50">
            <span>06</span>
            <strong>februari</strong>
        </time>

            <cite class="meta-bar meta-author">
                <span><img src="/typo3conf/ext/pxa_foundation/Resources/Public/img/background-meta-author.png" alt=""></span><strong>Mats Svensson</strong>
            </cite>


    </div>

    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>

            <p>Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

    <a class="link" href="/nyhet/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">Läs mer</a>
</section>
<hr>


<section class="entry news-entry">
    <figure>




                                <a href="/nyhet/fjaerde-nyhetsartikeln/">
                                    <img src="/typo3temp/_processed_/csm_DSC_7741_bdc20ec16a.jpg" width="870" height="420" alt="">
                                </a>







    </figure>
    <div class="meta hidden-phone">
        <time class="meta-bar meta-date" datetime="2013-02-05T18:23" title="18:23">
            <span>05</span>
            <strong>februari</strong>
        </time>

            <cite class="meta-bar meta-author">
                <span><img src="/typo3conf/ext/pxa_foundation/Resources/Public/img/background-meta-author.png" alt=""></span><strong>Mats Svensson</strong>
            </cite>


    </div>

    <h3>Fjärde nyhetsartikeln</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <a class="link" href="/nyhet/fjaerde-nyhetsartikeln/">Läs mer</a>
</section>
<hr>


<section class="entry news-entry">
    <figure>





                                <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="http://www.youtube.com/embed/rI3htmDxyLQ?fs=1&amp;enablejsapi=1" frameborder="0" id="widget2"></iframe></div>






    </figure>
    <div class="meta hidden-phone">
        <time class="meta-bar meta-date" datetime="2013-01-29T11:50" title="11:50">
            <span>29</span>
            <strong>januari</strong>
        </time>

            <cite class="meta-bar meta-author">
                <span><img src="/typo3conf/ext/pxa_foundation/Resources/Public/img/background-meta-author.png" alt=""></span><strong>Robert Lindh</strong>
            </cite>


    </div>

    <h3>Andra nyhetsartikeln</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <a class="link" href="/nyhet/andra-nyhetsartikeln/">Läs mer</a>
</section>
<hr>


<section class="entry news-entry">
    <figure>





                                <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="http://www.youtube.com/embed/EPEumQFdE2Y?fs=1&amp;enablejsapi=1" frameborder="0" id="widget4"></iframe></div>






    </figure>
    <div class="meta hidden-phone">
        <time class="meta-bar meta-date" datetime="2013-01-29T11:38" title="11:38">
            <span>29</span>
            <strong>januari</strong>
        </time>

            <cite class="meta-bar meta-author">
                <span><img src="/typo3conf/ext/pxa_foundation/Resources/Public/img/background-meta-author.png" alt=""></span><strong>Robert Lindh</strong>
            </cite>


    </div>

    <h3>Första nyhetsartikeln</h3>

            <p>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimaore eu ullamcorper orci uisque eget. Vestibulum ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>

    <a class="link" href="/nyhet/foersta-nyhetsartikeln/">Läs mer</a>
</section>
<hr>












</div>




</div>
</article>
          <!--TYPO3SEARCH_end-->
            </div>
            <div class="span3 pull-left">
          <!--TYPO3SEARCH_begin-->
          <a id="c74"></a><header><div class="rib-title"><h3 class="csc-firstHeader">Arkiv</h3><i class="rib"></i></div></header>





<div class="news">


    <div class="data">

            <ul class="tree-menu nav-tree">


                            <li class="item">

                    <a href="/nyheter/datum/2013/02/?tx_news_pi1%5Bcontroller%5D=News&amp;cHash=ed24bc55290ed8ae47fc4025d2ee7d48"><i class="icon-tag"></i> Februari 2013&nbsp;(2 poster)</a>
                    </li>


                            <li class="item">

                    <a href="/nyheter/datum/2013/01/?tx_news_pi1%5Bcontroller%5D=News&amp;cHash=d12b608d5e29a6063c47ec49650cb6fc"><i class="icon-tag"></i> Januari 2013&nbsp;(2 poster)</a>
                    </li>

            </ul>

    </div>

</div>
<a id="c75"></a><header><div class="rib-title"><h3>Kategorier</h3><i class="rib"></i></div></header>





<div class="news">




<div class="data">
    <ul class="tree-menu nav-tree">

            <li>

                        <a href="/nyheter/kategori/prudukter-tjaenster/"><i class="icon-tag"></i> Prudukter &amp; Tjänster</a>



            </li>

            <li>

                        <a href="/nyheter/kategori/projekt/"><i class="icon-tag"></i> Projekt</a>



            </li>

            <li>

                        <a href="/nyheter/kategori/media/"><i class="icon-tag"></i> Media</a>



            </li>

    </ul>
</div>



</div>
<a id="c216"></a><header><div class="rib-title"><h3>Populära ämnen</h3><i class="rib"></i></div></header><p><strong>Sorry, the requested view was not found.</strong></p>
<p>The technical reason is: <em>No template was found. View could not be resolved for action "list" in class "Tx_News_Controller_TagController"</em>.</p>
          <!--TYPO3SEARCH_end-->
            </div>
        </div>
        <div class="row">
            <div class="span12">
        <!--TYPO3SEARCH_begin-->

        <!--TYPO3SEARCH_end-->
            </div>
        </div>
    </div>

    </div>