<footer class="foot">
        <div class="container-fluid foot-top">
            <div class="twitter-bar container"></div>
        </div>
        <div class="container-fluid foot-middle">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="widget"><div id="c6" class="csc-default"><div class="rib-title"><h3 class="csc-firstHeader">About us</h3><i class="rib"></i></div><p>Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget rodio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.</p></div></div>
                    </div>
                    <div class="span6">
                        <div class="widget"><div id="c13" class="csc-default csc-space-after-14"><div class="rib-title"><h3 class="csc-firstHeader">Kontakta oss</h3><i class="rib"></i></div></div><div id="c7" class="csc-default"><figure class="figure-right figure-beside"><a href="/funktioner/plugin-form/karta/" ><img src="/fileadmin/_processed_/csm_googlemap_6e3fab837f.png" width="300" height="132" class="" alt=""></a></figure><div class="beside-text beside-text-right"><div class="beside-text-inner"><p>Pixelant AB <br />Regementsgatan 8, <br />211 42 Malmö, <br />Sweden</p></div></div><div class="clearfix"></div></div></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="widget"><nav id="c8" class="csc-default"><div class="rib-title"><h3 class="csc-firstHeader">Quick links</h3><i class="rib"></i></div><ul class="tree-menu nav-tree"><li><a href="/om-foretaget/" title="Om företaget"  >Om företaget</a></li><li><a href="/kontakt/" title="Kontakt"  >Kontakt</a></li><li><a href="/nyheter/" title="Nyheter"  >Nyheter</a></li></ul></nav></div>
                    </div>
                    <div class="span3">
                        <div class="widget"><nav id="c9" class="csc-default"><div class="rib-title"><h3 class="csc-firstHeader">Recently updated</h3><i class="rib"></i></div></nav></div>
                    </div>
                    <div class="span6">
                        <div class="widget"><div id="c11" class="csc-default"><div class="rib-title"><h3 class="csc-firstHeader">Prenumerera på vårt nyhetsbrev</h3><i class="rib"></i></div><p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.</p></div><a id="c127"></a><div class="tx-pxa-newsletter-subscription">


    <div class="tx_pxanewslettersubscription">

    <form class="form-horizontal" id="contact-form" action="/" method="post">
<div>
<input type="hidden" name="tx_pxanewslettersubscription_subscription[__referrer][@extension]" value="PxaNewsletterSubscription" />
<input type="hidden" name="tx_pxanewslettersubscription_subscription[__referrer][@controller]" value="NewsLetterSubscription" />
<input type="hidden" name="tx_pxanewslettersubscription_subscription[__referrer][@action]" value="form" />
<input type="hidden" name="tx_pxanewslettersubscription_subscription[__referrer][arguments]" value="YTowOnt9f4a3e7a57a614b0f6a47054adebc49186a2fe8b4" />
<input type="hidden" name="tx_pxanewslettersubscription_subscription[__trustedProperties]" value="a:2:{s:7:&quot;confirm&quot;;i:1;s:6:&quot;folder&quot;;i:1;}8fe71d05464a0ff7d4d6a2b37517bb169bed3f3a" />
</div>

        <input type="hidden" name="tx_pxanewslettersubscription_subscription[confirm]" value="1" />
        <input type="hidden" name="tx_pxanewslettersubscription_subscription[folder]" value="39" />
        <div class="row-fluid control-group">
            <div class="span6">
                <div class="input-append" data-role="acknowledge-input">
                    <input type="text" placeholder="Namn" class="input" name="name" id="name" data-type="text">
                    <div data-role="acknowledgement"><i></i></div>
                </div>
            </div>
            <div class="span6">
                <div class="input-append" data-role="acknowledge-input">
                    <input type="text" placeholder="E-post" class="input" name="email" id="email" data-type="email">
                    <div data-role="acknowledgement"><i></i></div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="subscribe form-actions pull-right">
                <button type="submit" class="btn btn-inverse">Prenumerera <i class="icon-spinner icon-spin icon-large" style="display:none;"></i></button>
            </div>
            <div class="unsubscribe form-actions hidden pull-right">
                <button type="submit" class="btn btn-inverse">Avsluta prenumerationen <i class="icon-spinner icon-spin icon-large" style="display:none;"></i></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        var jqXHR_error_message = 'Tekniskt problem, vänligen prova igen lite senare.'
    </script>
</div>


</div></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <div class="contact-bar"><span><img src="/fileadmin/user_upload/Sidikoner/square-icon-contact.png" width="28" height="28" alt="Telefon">&nbsp;Telefon&nbsp;<a href="/footer-contact-bar/46-40-617-12-30/"  ><a href="tel://+46" title="12" target="40" class="617" >+46 40 617 12 30</a></a></span><span><img src="/fileadmin/user_upload/Sidikoner/square-icon-clip.png" width="28" height="28" alt="E-post">&nbsp;E-post&nbsp;<a href="javascript:linkTo_UnCryptMailto('jxfiql7abjlXmfubixkq+pb');"  ><a href="javascript:linkTo_UnCryptMailto('jxfiql7abjlXmfubixkq+pb');" >demo@<span style="display:none;">remove-this.</span>pixelant.se</a></a></span></div>
                    </div>
                    <div class="span5"><ul class="connect-menu nav-menu pull-right"><li><a href="/connect-menu/linkedin/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-linkedin.png" width="28" height="28" alt="LinkedIn"></a></li><li><a href="/connect-menu/facebook/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-facebook.png" width="28" height="28" alt="Facebook"></a></li><li><a href="/connect-menu/vimeo/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-vimeo.png" width="28" height="28" alt="Vimeo"></a></li><li><a href="/connect-menu/twitter/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-twitter.png" width="28" height="28" alt="Twitter"></a></li></ul></div>
                </div>
            </div>
        </div>
        <div class="container-fluid foot-bottom">
            <div class="container">
                <div class="row">
                    <div class="span7"><a id="c12"></a>This website is handcrafted from <a >HTML5</a> and it is powered by <a >CSS3</a>.</div>
                    <div class="span5"><ul class="foot-menu nav-menu pull-right"><li><a href="/footer-bottom-menu/legal-rights/"  >Legal Rights</a></li><li><a href="/footer-bottom-menu/terms-of-use/"  >Terms of Use</a></li><li><a href="/footer-bottom-menu/cookies/"  >Cookies</a></li></ul></div>
                </div>
            </div>
        </div>
    </footer>