<header class="head">
        <div class="container head-top">
            <ul class="mobile-language-menu nav-menu pull-right"><li><a href="/#" class="dropdown-toggle" data-toggle="dropdown"><img src="/typo3conf/ext/pxa_foundation_layout/Resources/Public/img/language-sv.png" width="24" height="18" alt=""><i class="icon"></i></a><ul class="dropdown-menu"><li class="active"><a href="/"  ><img src="/typo3conf/ext/pxa_foundation_layout/Resources/Public/img/language-sv.png" width="24" height="18" alt="">Svenska</a></li><li><a href="/en/"  ><img src="/typo3conf/ext/pxa_foundation_layout/Resources/Public/img/language-en.png" width="24" height="18" alt="">English</a></li></ul></li></ul>
            <ul class="top-menu nav-menu pull-right"><li><a href="/"  ><i class="icon-home"></i>Hem</a></li><li><a href="/meta-menu/sidkarta/"  ><i class="icon-sitemap"></i>Sidkarta</a></li><li><a href="/meta-menu/logga-in/"  ><i class="icon-user"></i>Logga in</a></li></ul>
        </div>
        <div class="container-fluid head-middle">
            <div class="container">
                <a href="/" class="logo"><img src="/typo3conf/ext/pxa_foundation_layout/Resources/Public/img/logo.png" width="226" height="50" alt="Foundation"></a>
                <ul class="connect-menu nav-menu pull-right"><li><a href="/connect-menu/linkedin/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-linkedin.png" width="28" height="28" alt="LinkedIn"></a></li><li><a href="/connect-menu/facebook/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-facebook.png" width="28" height="28" alt="Facebook"></a></li><li><a href="/connect-menu/vimeo/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-vimeo.png" width="28" height="28" alt="Vimeo"></a></li><li><a href="/connect-menu/twitter/"  ><img src="/fileadmin/user_upload/Sidikoner/square-icon-twitter.png" width="28" height="28" alt="Twitter"></a></li></ul>
            </div>
        </div>
        {{>nav}}
    </header>