<div class="sub-header">

          <div id="c36" class="csc-default">





        <!-- Resources are disabled, because we are linking our own resources to the slider -->
        <script type="text/javascript">
 if (typeof flexsliderconf === 'undefined') var flexsliderconf = new Array();

    flexsliderconf['#fs-36'] = {
        animation: "slide",
        slideDirection: "horizontal",
        slideshow: true,
        slideshowSpeed: 5000,
        animationDuration: 600,
        controlNav: true,
        directionNav: true,
        keyboard: false,
        mousewheel: false,
        prevText: "Previous",
        nextText: "Next",
        pausePlay: false,
        pauseText: "Pause",
        playText: "Play",
        randomize: false,
        animationLoop: true,
        pauseOnHover: true,
        namespace: '',
        controlsContainer: '',
        manualControls: 'div.slider-paging .holder span',
        start: function (slider) {
            slider.removeClass('loading');
        }

    };

</script>


        <div class="flexslider loading flex-special flex-slider" id="fs-36">
            <ul class="slides" style="list-style-type: none;">


                    <li style="float:left; display:none;">

















                                        <section>

                                                <h1>Donec id diam ipsum, quis faucibus nulla</h1>


                                                <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis.</p>



                                                    <a class="btn btn-large" href="/funktioner/plugin-form/karta/">Call To Action</a>


                                        </section>






                        <figure class="cover" style="background-image: url(/uploads/tx_flexslider/DSC_7735_web.jpg)">

                        </figure>
                    </li>

                    <li style="float:left; display:none;">

















                                        <section>

                                                <h1>Rubrik för bild 2</h1>


                                                <p>Underrubrik för bild 2</p>



                                                    <a class="btn btn-large" href="/">Länktext 2</a>


                                        </section>






                        <figure class="cover" style="background-image: url(/uploads/tx_flexslider/DSC_7731__1_.jpg)">

                        </figure>
                    </li>


            </ul>
        </div>




</div>

      </div>
      <hr class="divider" />